<?xml version='1.0' encoding='utf-8'?>
<widget id="com.innobite.AVcapital" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AVcapital</name>
    <description>Finanzas e inversiones</description>
    <author email="info@innobite.io" href="https://innobite.io">
        Innobite S.A. - By: G. América
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="./www/res/logo.png"/>
</widget>
